@model IEnumerable<MertcanDoner.Models.Product>

<h2>Ürün Listesi</h2>

<a class="btn btn-primary mb-3" href="/Product/Create">Yeni Ürün Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price ₺</td>
                <td><a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
