@{
    ViewData["Title"] = "Hakkımızda";
}

<h2>Hakkımızda</h2>
<p>Biz döner sever bir ekibiz! En kaliteli döneri hızlı ve sıcak sunmak için buradayız.</p>
<p>Mertcan Doner, 2024 yılında kuruldu ve hızlı ve kaliteli döner sunma konusunda tecrübe sahibi ekibimizle hizmet vermeye devam ediyoruz.</p>
<p>İstediğiniz her türlü döneri sipariş edebilirsiniz. Siparişlerinizin hızlı bir şekilde hazırlanması için çalışıyoruz.</p>
